/** 
 * @file            Reset CSS
 * @description     Defines a consistent baseline across browsers by resetting and normalizing default user-agent styles. Ensures a predictable starting point for all visual elements.
 * @author          Mário Miguel de Almeida
 * @last-modified   2025-12-27
 * @dependencies    none
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  border: none;
}

body {
  min-height: 100vh;
  font-family: 'Manrope';
  line-height: 100%;
}

h1 {
  font-size: inherit;
}

small {
  font-size: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}


:focus:not(:focus-visible) {
  outline: none;
}

:focus-visible {
  outline: 2px solid aquamarine;
}