* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  border: none;
}

body {
  min-height: 100vh;
  line-height: 100%;
  font-family: 'Manrope';
}

h1 {
  font-size: inherit;
}

small {
  font-size: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}


:focus:not(:focus-visible) {
  outline: none;
}

:focus-visible {
  outline: 2px solid aquamarine;
}