/** 
 * @file            Style CSS
 * @description     Base stylesheet for the application. Developed following the Mobile First methodology, starting from a minimum viewport width of 320px. Includes layout positioning, color scheme, and typography definitions. All core styling rules are centralized in this file.
 * @author          Mário Miguel de Almeida
 * @last-modified   2025-12-27
 * @dependencies    reset.css
 */

html {
    font-size: 1rem;
}

body {
    min-height: 100vh;
    background-color: hsl(218, 23%, 16%);
    display: flex;
    flex-direction: column;
    align-items: center;

    & .advice-card {
        position: relative;
        width: 18.13rem;
        height: auto;
        margin: auto 0.94rem 0;
        padding: 2.38rem 0 2.81rem;
        text-align: center;
        background-color: hsl(217, 19%, 24%);
        border-radius: 0.63rem;

        & .advice-card__title {
            margin-bottom: 1.38rem;
            font-weight: 600;
            letter-spacing: 0.13rem;
            color: hsl(150, 100%, 66%);
        }

        & .advice-card__paragraph {
            max-width: 85%;
            margin: 0 auto 1.25rem auto;
            font-size: 1.25rem;
            line-height: 1.69rem;
            font-weight: 700;
            color: hsl(193, 38%, 86%);
        }

        & .advice-card__split-image img {
            width: 85%;
        }

        & .advice-card__button {
            position: absolute;
            right: 50%;
            bottom: -10.9%;
            width: 3.44rem;
            height: 3.44rem;
            background-color: hsl(150, 100%, 66%);
            border-radius: 100%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateX(50%);
            transition: 0.3s;

            &:hover {
                box-shadow: 0 0 15px rgba(0, 255, 180, 0.5);
            }

            & img {
                width: 1.50rem;
            }
        }


    }

    & .credits {
        margin: auto 0 1rem;
        font-size: 0.63rem;
        text-align: center;

        & .credits__paragraph {
            color: hsl(193, 38%, 86%);

            & .credits__link {
                color: hsl(150, 100%, 66%);
                font-weight: 600;
                transition: 0.3s;

                &:hover {
                    font-weight: 800;
                }
            }
        }
    }
}






